*{
    font-family: "Poppins", sans-serif;
  }
.banner{
  background-image: url(/portfolio/images/avbiuyasdfghjkl.jpg);
    background-size: cover;
    background-repeat: on-repeat;
    padding: 250px;
}
.skills-padding{
  padding:50px 0;
}